* {
  margin:  0;
  padding: 0;
  box-sizing:  border-box;


}
body {
  background-image: url('./back.jpg');
  background-size: cover;
  background-attachment: fixed;

}

.cardHighlight {
  min-height: 100%;
}

#top-body, .background-play, .card-btn:hover, .clear-message:hover {
  background-image:  linear-gradient(20deg, orange, lightyellow, yellow, lightyellow, orange);
  background-size: 500%;
  animation-name: product;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes product {
  0% {background-position: 0% 20%;}
  20% {background-position: 20% 40%;}
  40% {background-position: 40% 60%;}
  60% {background-position: 60% 80%;}
  80% {background-position: 80% 100%;}
  100% {background-position: 0% 20%;}
}

#newhead {
  width: 70%;
  height: 2.5rem;
  background-color: red;
  border-radius: 0.4rem;
  animation-name: new;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#icon-warning {
  background-color: yellow;
  animation-name: new;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}


@keyframes new {
  
  100% {background-color:orange;}
}

/*#form-login, #form-register {
  background-color: rgba(0, 0, 0, 0.2);
}*/
@media screen and (max-width: 561px) /*Mobile (+/-) 6inch Setting section*/
{
.chatBox {
  width:  97% !important;
  right: 0.3rem !important;
}
.training-section {
  border:  lightgoldenrodyellow 1rem solid;
}
}


@media screen and (min-width: 561px) /*Mobile (+/-) 6inch Setting section*/
{
#form-login, #form-register, #clear-order, #form-create {
  width:  60vw !important;
}
.chatBox {
  width:  70vw !important;
}
.training-section {
  border:  lightgoldenrodyellow 1rem solid;
}
}

@media screen and (min-width: 769px) /*Mobile (+/-) 6inch Setting section*/
{
#form-login, #form-register, #clear-order, #form-create {
  width:  45vw !important;
}
}

@media screen and (min-width: 992px) /*Mobile (+/-) 6inch Setting section*/
{
#form-login, #form-register, #clear-order, #form-create{
  width:  40vw !important;
}
.chatBox {
  width:  30vw !important;
}
}

@media screen and (min-width: 1024px) 
{

.background-section:hover, .training-section:hover, .training-section2:hover {
  
  width: 70%; 
}
.background-section{
  width:  100%;
  transition: width 0.7s;
}

.training-section {
  width:  100%;
  transition: width 0.7s;
  border:  lightgoldenrodyellow 1rem solid;
}
.training-section2 {
  width:  100%;
  transition: width 0.7s;
}
/*.training-section:hover{
  width: 70%;
  margin-left: 29%;
}*/
.about-photos {
  display: none !important;
}

.background-section:hover + .about-photos{
  display: block !important;
  margin:  auto;
}

.training-section:hover + .about-photos{
  display: block !important;
  margin:  auto;
}
.training-section2:hover + .about-photos{
  display: block !important;
  margin:  auto;
}
}

.nav-btn, .navhome-btn {
  transition: 0.8s;
  border:  0.1rem solid yellow;
  border-radius: 0.4rem;
  background-color: yellow;
  margin-right: 0.1rem;
  min-width: 6rem;
}

.admin-btn, .adminhome-btn {
  transition: 0.8s;
  border:  0.1rem solid skyblue;
  border-radius: 0.4rem;
  background-color: skyblue;
  margin-right: 0.1rem;
  min-width: 6rem;
}

.admin-btn:hover, .adminhome-btn:hover {
  background-color: lightblue;
}

.nav-btn:hover, .navhome-btn:hover, .banner, .carousel-desc, #form-register, #form-login, #clear-order, #form-search, #prodBanner, #prodComp, #prodFood, #cartbanner, #orderbanner, #form-message{
  background-color: lightgoldenrodyellow;
}

.carousel-descA, #adminProdBanner, #form-adminsearch, .adminOrderCard, #form-create, .adminbanner {
  background-color: skyblue;
}

.card-title, .card-row, .orderbanner{
  padding-bottom:  0.5rem;
  border-bottom: 0.1rem solid gray;
}

.background-clear {
  background-color: rgba(0, 0, 0, 0.3);
}

/*.banner {
  background-color: lightgoldenrodyellow;
}*/

#footer {
  bottom:  0;
  width:  100%;
}

.image-highlights {
    height: 8rem;
    width: 12rem;
}

.image-advertisement {
  width: 15rem;
  height: 10rem;
}

.image-clearorder {
  width: 11rem;
    height: 8rem;
}
.image-login {
  width: 37rem;
  height: 25rem;
}

.image-ads {
  width: 16rem;
  height: 3.2rem;
}

.card-payorder{
  min-height: 30rem;
  background-color: lightyellow;
}

.admin-prodcard {
  min-height: 10rem;
  background-color: lightblue;
}

.image-message {
  width: 24rem;
  height: 15rem;
}

.image-payment {
  width: 7.3rem;
  height: 4rem;
}

.image-footer {
    height: 2rem;
    width: 6.5rem;
}


#image-profile2 {
  width: 15rem;
  height: 15rem;
}

.aboutback {
  background-image: url(https://scontent.fmnl17-4.fna.fbcdn.net/v/t1.15752-9/277800795_4793215084124175_6992699692024128947_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=ae9488&_nc_eui2=AeEc40g_wA8f3oUhILArQ6stLzFksj_3VmcvMWSyP_dWZxKDdXcg4D8W0ElT4Ycx7YjWBZtyd0Wok8zXLl_emQkI&_nc_ohc=IKZq18wsdPwAX-RBCmd&_nc_ht=scontent.fmnl17-4.fna&oh=03_AVK5_zmeF5OvuvfXlg0OtBeADhZL04HtZ_nmfL7ZJEBQTA&oe=62846975);
  background-attachment: scroll;
  background-size: 100%; 
  background-repeat: no-repeat;
  height: 30rem;
}

.image-zuitt {
  width: 15rem;
  height: 5rem;
}
.image-banner {
  width: 40rem;
  height: 27rem;
}


.logo {
  z-index: 5;
  width: 3rem;
  height: 3rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background-color: rgba(255, 255, 0, 0.5);
  padding: .6rem;
  border-radius: .5rem;
}

.actChat:hover  .logo {
  background-color: rgba(255, 255, 0, 1.0);
  padding: .3rem;
}

.actChat:active  .logo {
  padding: .5rem;
}

/*.chatBox, .actChat {
  z-index: 5;
}*/
.chatBox {
  position: fixed;
  width: 30%;
  height: 25rem;
  bottom: 4rem;
  right: 4rem;
  z-index: 5;
}

.closeicon {
  width: 1.5rem;
  height: 1.5rem;
}
.botchan {
  width: 2.5rem;
  height: 2.5rem;
}

.chatContent {
  overflow-y: scroll;
  height: 11rem;
  border-bottom: 0.1rem solid #ffc107;
  border-top: 0.1rem solid #ffc107;
}

.closeicon:active {
  width: 1.4rem;
  height: 1.4rem;
}

.chatreply, .shadowbox {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.marginL {
  margin-left: 2.5rem;
}

.marginR {
  right: 0;
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translate3d(-10%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.banner-fade, #form-search{
  animation: fadeLeft 0.7s ease-in both;
}

.background-section, .aboutback, .training-section, .message-section, .about-message, .message-banner, .public-message, .ads, .highlights-fade, .search-banner, .products-banner, #prodComp  {
  animation: fadeIn 0.7s ease-in both;
}

.clearback {
  background-color: rgba(0, 0, 0, 0.3);
}
.backlogo-img {
  width: 12rem;
  height: 12rem;
}

.aboutMe {
  background-color: lightblue;
}

.resize-row {
  width: 99%;
}

.bg-blue {
  background-color: lightblue;
}
.clogo {
  width: 2.5rem;
  height: 2.5rem;
}

.cbrand:active {
  width: 2.3rem;
  height: 2.3rem;
}
.cbrand:hover {
  background-color: lightblue;
}
.profile-nav:hover {
  border-bottom: 0.2rem solid skyblue;
}
.profile-nav:active {
  border: 0.1rem inset skyblue;
}

.newfont {
  font-family: 'Garamond';
}

.bg-tech {
  background-image: url('../public/cardback2.jpg');
  background-size: cover;
  background-attachment: scroll;
}
.bg-tech2 {
  background-color: rgba(137, 207, 240, 0.4);
}
.bg-back {
  background-image: url('../public/cardback3.jpg');
  background-size: cover;
  background-attachment: scroll;
}